.cadastro-container {
    width: 100%;
    max-width: 1120px;
    height: 80vh;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-container  .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px #0000001a;
    border-radius: 8px;
    display: grid;
    align-items: center;
}

.space{
    margin-left: 15px;
}

.button {
    background-color: #CED8DA;
    border-radius: 30px;
    color: #000000;
    font-weight: 500;
}

.cpf-invalido {
    width: 100%;
    min-height: 25px;
    padding: 5px 10px;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ff0000;
    border-radius: 4px;
    outline: 0;
}

.espaco-radio {
    margin-left: 30px;
}

.radio-box input{
    margin-right: 5px;
}
.uf {
    text-transform: uppercase
}