

.inline{
   margin-top: -6px;
}

.cpf-invalido {
    width: 100%;
    min-height: 25px;
    padding: 5px 10px;
    line-height: 1.6;
    background-color: #fff;
    border: 1px solid #ff0000;
    border-radius: 4px;
    outline: 0;
}

.espaco-radio {
    margin-left: 30px;
}

.radio-box input{
    margin-right: 5px;
}
.uf {
    text-transform: uppercase
}

.row{
    margin-right: auto;
    margin-left: auto;
}